.menu {
    width: 100%;
    position: fixed;
    background-color: #1d1e40;
    min-height: auto;
    margin-bottom: 0px;
    border: 0px solid transparent;
    z-index: 200;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 10px;

    .itens {
        display: table-caption;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;

        img {
            float: right;
        }
    }
}

.menu .navbar-brand {
    height: auto;
    padding: 20px 0 0 0;
}

.menu .navbar-right li>a {
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 10px;
}

.menu .navbar-right li>a::after {
    width: 5px;
    height: 5px;
    content: "";
    background-color: #daa63a;
    position: absolute;
    right: -3px;
    border-radius: 100px;
    top: 14px;
}

.menu .navbar-right li:last-of-type a {
    padding-right: 0px;
}

.menu .navbar-right li:last-of-type a::after {
    display: none;
}

.menu .navbar-right li>a:focus,
.menu .navbar-right li>a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.navbar-toggle {
    margin-top: 15px;
    margin-right: 15px;
}

.menu .navbar-toggle {
    border-color: #fff;
}

.menu .navbar-toggle:focus,
.menu .navbar-toggle:hover {
    background-color: transparent;
}

/* Extra Small */
@media (max-width: 767px) {}