.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 10%;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #eb640a;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #eb640a;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-family: 'Gill Sans Std';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  color: #fff;
}

.cookies .box .btn_cookie {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #af1b1e;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
}

.menu {
  width: 100%;
  position: fixed;
  background-color: #1d1e40;
  min-height: auto;
  margin-bottom: 0px;
  border: 0px solid transparent;
  z-index: 200;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.menu .itens {
  display: table-caption;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.menu .itens img {
  float: right;
}

.menu .navbar-brand {
  height: auto;
  padding: 20px 0 0 0;
}

.menu .navbar-right li > a {
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 10px;
}

.menu .navbar-right li > a::after {
  width: 5px;
  height: 5px;
  content: "";
  background-color: #daa63a;
  position: absolute;
  right: -3px;
  border-radius: 100px;
  top: 14px;
}

.menu .navbar-right li:last-of-type a {
  padding-right: 0px;
}

.menu .navbar-right li:last-of-type a::after {
  display: none;
}

.menu .navbar-right li > a:focus,
.menu .navbar-right li > a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.navbar-toggle {
  margin-top: 15px;
  margin-right: 15px;
}

.menu .navbar-toggle {
  border-color: #fff;
}

.menu .navbar-toggle:focus,
.menu .navbar-toggle:hover {
  background-color: transparent;
}

/* Extra Small */
.home {
  background: url(../images/bg-home.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 160px;
  padding-bottom: 90px;
}

.incorporacoes .cases {
  padding-top: 30px;
  padding-bottom: 50px;
}

.slide-incorporacoes {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+26,21b4e2+63,b7deed+100 */
  background: #23282d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, white), color-stop(10%, #23282d), color-stop(85%, #23282d), color-stop(85%, white));
  background: linear-gradient(to bottom, white 10%, #23282d 10%, #23282d 85%, white 85%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0);
  /* IE6-9 */
}

.newsletter {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1d1e40;
  margin-top: 40px;
}

.contato {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -5px;
  background: url(../images/bg-contato.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.rodape {
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}

.endereco {
  background-color: #1d1e40;
  padding-top: 20px;
  padding-bottom: 20px;
}

.texto-legal {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #daa63a;
}

.icon-up {
  position: absolute;
  right: 0;
  top: -38px;
}

/* Extra Small */
/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */